<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H8Distro</title>
</head>
<body>
    <p><%= sessionData.username %></p>
    <p><%= sessionData.shopName %></p>

    <p><%= data[0].productName %></p>
</body>
</html>